* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-size:50px;
  background: #00308f;
}

/* ---- input ---- */

input[type="text"] {
  font-size:50px;
}

/* ---- isotope ---- */

.grid {
  /*border: 1px solid #333;*/
  margin-left:0;
  margin-right: 0;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  width: 49%;
  position: relative;
  height: 470px;
  margin: 10px;
  padding: 10px;
  background-color: white;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}



.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: white; background: white; }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
